<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <style>
        body {
            /*background-image: url("https://escaperoom5280.com/wp-content/uploads/2016/10/escape-room-office-nyc-1024x683.jpg");*/
            background-image: url("https://images.unsplash.com/photo-1463871181391-8550cd89c179?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZXNjYXBlJTIwcm9vbXN8ZW58MHx8MHx8&w=1000&q=80");
            background-repeat: no-repeat;
            background-size: cover;
        }

        p, h2{
            color:black;
        }
            
        #chat {
            background-color: white;
            opacity: 0.8;
            margin: 10%;
        }

        .btnBack{
            margin-left:50%;
        }

        .message{
            margin-left:42%;
            color:antiquewhite;
        }

        #paypalForm p{
            color: antiquewhite;
        }

        .title{
            color: antiquewhite;
        }
    </style>

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Rooms", "RoomList", "RoomApi", new { area = "" }, null)</li>

                </ul>
            </div>
        </div>
    </div>*@
    <div class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    <script>
        function Kapws() {
            document.getElementById("#kati").submit();
        }

    </script>
</body>
</html>
